@tailwind base;
@tailwind components;
@tailwind utilities;

*{
 /* font-family: gt-eesti,
  "Helvetica Neue",
  Helvetica,
  Arial,
  sans-serif; */
  font-family: 'Open Sans', sans-serif;
}

.filter-green {
 filter: invert(25%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.Faq_description ul{
  list-style-type: circle;
  margin-left: 25px;
}
.rc-time-picker-input{
  height: 50px !important;
}


/* .react-datepicker{
  width: 100%;
} */
 
@media screen and (max-width: 570px) {
  .react-datepicker__month-container{
    width: 100%;
  }
}

/* .react-datepicker__month-container */
.react-datepicker__day--keyboard-selected{
  border-radius: 1.3rem !important;
}
    
.react-datepicker__day:hover{
  border-radius: 1.3rem !important;

}