@tailwind base;
@tailwind components;
@tailwind utilities;

*{
 /* font-family: gt-eesti,
  "Helvetica Neue",
  Helvetica,
  Arial,
  sans-serif; */
  font-family: 'Open Sans', sans-serif;
}

.filter-green {
 filter: invert(25%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.Faq_description ul{
  list-style-type: circle;
  margin-left: 25px;
}
.rc-time-picker-input{
  height: 50px !important;
}
